@import "tailwindcss";

@theme {
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1080px;

  --color-regularGreen: #e3ecd0;
  --color-darkGreen: #2e7d32;
  --color-lightGreen: #6bb436;
  --color-regularBlue: #3b82f6;
  --color-skyBlue: #4fc3f7;
  --color-darkBlue: #1d3885;
  --color-beige: #f8e2a8;
  --color-gris: #8f96a1;
  --color-lightGray: #deedfa;
  --color-ocean: #20887e;
  --color-lightOcean: #2ec4b6;
  --color-amarillo: #ffd221;
  --color-naranja: #f27400;

  --color-lightRed: #ea7348;
  --color-verdeGris: #e4edd0;

  --font-nunito: "Nunito";
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.card {
  @apply relative bg-green-200 p-6 rounded-[8px] overflow-hidden transition-all duration-200 ease-out;
}

.card:hover {
  @apply [box-shadow:2px_2px_8px_2px_#292929] transform-[rotate(3deg)];
}

.card:hover>div {
  @apply [clip-path:circle(150%_at_0%_100%)];
}

.card-divpath {
  @apply absolute left-0 bottom-0 w-full h-full bg-green-300 [clip-path:circle(0%_at_0%_100%)] transition-all duration-400 ease-in [border:solid_black_2px];
}

/* Overide de estilos que trae por defecto leaflet popup */
.leaflet-popup-content-wrapper {
  border: solid black 1px;
  background-color: #4b4a4a8e !important;
  border-radius: 12px !important;
  backdrop-filter: blur(3px);
}

.leaflet-popup-tip {
  background: #f0f9ff;
}

/* Estilos especificos para el slider, dificiles de aplicar con tailwinds */

#content-imagenes div:first-child {
  z-index: 1;
  width: 22%;
  height: 35%;
  bottom: 8%;
  left: 60%;
  border-radius: 14px;
  overflow: hidden;
}

@media (min-width: 768px) {
  #content-imagenes div:first-child {
    width: 12%;
  }
}

@keyframes animacion-slider-entrada {
  to {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.animacion-slider-entrada {
  animation: animacion-slider-entrada 1s ease forwards;
}

/* ------------------------------------------ */

/* Elinar estilos por defecto del summay */
summary {
  list-style: none;
}

summary::marker {
  content: "";
}

/* ----------------------------------------- */

.linea-animada {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  animation: iluminar 2s infinite;
}

@keyframes iluminar {
  0% {
    left: -100%;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

details {
  padding: 10px;
}

details summary {
  cursor: pointer;
  transition: margin 0.4s ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}

#perfil {
  animation: animacionperfil 1s ease forwards;
}

@keyframes animacionperfil {
  from {
    filter: blur(20px);
    transform: translateY(90vh);
    scale: 90%;
  }

  to {
    transform: translateY(0);
    filter: blur(0);
    scale: 1;
  }
}

.splash1 {
  transform: translate(-50%, -50%);
  animation: splash1 2s ease forwards;
}

@keyframes splash1 {
  0% {
    transform: translate(-50%, -100vh) scale(0.1);
    opacity: 0;
  }

  50%,
  90% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);

    opacity: 0;
  }
}

#animacionEntradaLetraLogo {
  animation: animacionEntradaLetraLogo 1s ease-in-out forwards;
}

@keyframes animacionEntradaLetraLogo {
  from {
    filter: blur(10px);
    transform: translateY(-100vh);
  }

  to {
    filter: blur(0);
    transform: translateY(0%);
  }
}

#notificacion {
  animation: animacionNotificacion 5s ease-in-out forwards;
}

@keyframes animacionNotificacion {
  0% {
    transform: translate(-50%, -100vh);
  }

  20%,
  80% {
    transform: translate(-50%, 0%);
  }

  100% {
    transform: translate(-50%, -100vh);
  }
}

.animacion-entrada-guias {
  animation: animacion-entrada-guias 1s ease forwards;
}

@keyframes animacion-entrada-guias {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animacion-salida-guias {
  animation: animacion-salida-guias 1s ease forwards;
}

@keyframes animacion-salida-guias {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

#vistaRef {
  transform: translateX(0px);
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

@keyframes appear {
  from {
    scale: 0.8;
    opacity: 0.8;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.animacion-reveal {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}